@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%
}

body {
  font-size: 1.6rem;
}
